#navbar {
    display: -webkit-flex;
    display: flex;
    /* background-color: var(--primary-variant);
    background: var(--primary-variant); */
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    top: 0;
    transition: 0.3s ease;
    z-index: 1;
    position: fixed;
}

@keyframes show {
    100% {
        opacity: 1;
    }
}

.nav-left, .nav-right {
    display: flex;
    justify-content: center;
    align-items: center;

    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}

.nav-right{
    margin-left: auto;
}

.nav-left i {
    display: none;
    margin-left: auto;
}

.nav-left a, .nav-right a{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--on-primary);
    padding: 12px 30px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.logo {
    margin-right: auto;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
}

#navbar a:hover {
    /* background-color: var(--primary);
    background: var(--primary); */
    color: lightgray;
}

#navbar a:active {
    /* background-color: var(--primary-tint);
    background: var(--primary-tint); */
}

@media only screen and (max-width: 1000px) {
    #navbar {
        flex-direction: column;
        -webkit-flex-direction: column;
    }

    .about {
        padding: 40px 15px !important;
    }

    .nav-left {
        padding: 12px 3px;
    }

    .nav-left i, .nav-right i {
        display: block;
        color: var(--on-primary);
    }

    .nav-left a {
        padding: 0px;
    }

    .nav-right {
        -webkit-flex-direction: column;
        -webkit-justify-content: center;
        -webkit-align-items: center;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        display: none;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background: var(--primary-variant);
        background-color: var(--primary-variant);
    }

    .nav-left i:hover, .nav-right i:hover {
        cursor: pointer;
    }

    .nav-right i {
        margin-bottom: 10px;
    }

    .nav-right a {
        margin: 5px 0px;
    }

    .close {
        position: fixed;
        top: 24px;
        right: 24px;
    }

    .headline1{
        font-size: 50px;
    }

    .headline5 {
        font-size: 20px;
    }

    .about-inner2 {
        flex-direction: column;
    }

    .card {
        max-width: 100%;
    }

    .about-inner2 div {
        margin: 20px 0px !important;
    }

    .about-title h1:not(:first-child) {
        font-size: 50px !important;
        padding-bottom: 20px;
    }

    .headline6 {
        font-size: 16px;
    }

}