.profile-pic {
    width: 100%;
    max-width: 430px;
    height: auto;
    border-radius: 50%;
    margin-right: 50px;
}

.about-info {
    max-width: 100%;
}

.card-buttons a {
    text-decoration: none;
}

.about-info p {
    margin: 15px 0px;
}

.about-section {
    height: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    display: inline-flex;
}

.about-info h2 {
    margin-bottom: 12px;
    opacity: 0.8;
}


@media only screen and (max-width: 1000px) {
    .about-section {
        flex-direction: column;
        gap: 0px;
    }

    .about-info p {
        margin: 18px 0px;
    }

    .profile-pic {
        border-radius: 0px;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    .about-inner div{
        margin: 20px 0px;
    }

}