.about {
    background: var(--background);
    color: var(--primary);
    display: flex;
    justify-content: start;
    -webkit-justify-content: start;
    align-items: center;
    -webkit-align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
    padding: 40px 20px;
}

.about-inner2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    gap: 20px;
}

.about-inner1 {
    padding: 30px;
    max-width: 100%;
}

/* .about-inner2 div {
    margin: 30px;
}

.about h4 {
    font-size: 30px;
}

.about h2 {
    font-size: 20px;
}

.about h3 {
    font-size: 15px;
    margin-bottom: 20px;
}

.about p {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 25px;
} */

.about-title {
    min-height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 60px;
    padding: 40px 0px;
    position: relative;
    flex-direction: column;
}

.about-title-shadow {
    position: relative;
    top: 40px;
    opacity: 0.4;
    font-size: 30px;
}
