.card-actions {
    display: flex;
    flex-wrap: wrap;

    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
}

.card-actions button {
    margin-right: 5px;
}

.card {
    background-color: var(--surface);
    min-height: 400px;
    padding: 30px;
    width: 450px;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    font-family: 'Roboto', sans-serif;
    color: var(--primary);
}

.card p {
    font-size: 16px;
    line-height: 25px;
}

.card-inner {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    margin-bottom: 30px;
}

.card-inner h2:nth-of-type(2) {
    margin-bottom: 6px;
}

.card-buttons {
    display: inline-flex;
    gap: 10px;
    margin-top: 15px;
    flex-wrap: wrap;
}