.contact-item {
    background-color: var(--on-primary);
    color: var(--primary);
    padding: 20px;
    min-height: 125px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    width: 225px;
    margin-right: 25px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
}

@media only screen and (max-width: 700px) {
    .contact-section {
        flex-direction: column;
        padding-bottom: 30px;
    }

    .contact-item {
        margin-bottom: 20px;
        margin-right: 0px;
    }

}