.card-actions {
    display: flex;
    flex-wrap: wrap;

    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
}

.card-actions button {
    margin-right: 5px;
}

.card {
    background-color: var(--surface);
    min-height: 250px;
    padding: 20px;
    width: 300px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0.5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;

    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}