.about {
    display: flex;
    justify-content: start;
    -webkit-justify-content: start;
    align-items: center;
    -webkit-align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
    padding: 30px 20px 100px 20px;
}

.about-inner {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 30px;
}

.about-bg-main {
    background: var(--primary);
    color: var(--background);
}

.about-bg-secondary {
    background: var(--background);
    color: var(--primary);
}