@import "./css/button.css";
@import "./css/type.css";
@import "./css/card.css";

/* Component stylesheet imports*/
@import "./components/Header/header.css";
@import "./components/Menu/menu.css";
@import "./components/About/about.css";

:root {
  --primary: #485abf;
  --primary-variant: #354498;
  --background: #FFFFFF;
  --surface: #FFFFFF;
  --error: #B00020;
  --on-primary: #FFFFFF;
  --on-secondary: #000000;
  --on-background: #000000;
  --on-surface: #000000;
  --on-error: #FFFFFF;
  --primary-tint: #6575ca;
  --primary-tint2: #828fd4;
  --primary-tint3: #aeb6e3;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}