@import "./css/type.css";

/* Component stylesheet imports*/
@import "./components/Header/header.css";
@import "./components/Menu/menu.css";
@import "./components/Experience/experience.css";
@import "./components/Footer/footer.css";
@import "./components/Title/title.css";
@import "./components/Card/card.css";
@import "./components/Button/button.css";
@import "./components/Experience/experience.css";
@import "./components/About/about.css";
@import "./components/Current/current.css";
@import "./components/Contact/contact.css";
@import "./components/Projects/projects.css";

:root {
  --primary: #485abf;
  --primary-variant: #354498;
  --primary-variant2: #252f6a;
  --primary-variant3: #151b3c;
  --background: #FFFFFF;
  --surface: #FFFFFF;
  --error: #B00020;
  --on-primary: #FFFFFF;
  --on-secondary: #000000;
  --on-background: #000000;
  --on-surface: #000000;
  --on-error: #FFFFFF;
  --primary-tint: #6575ca;
  --primary-tint2: #828fd4;
  --primary-tint3: #aeb6e3;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.svg g path {
  stroke-dasharray: 1000;
  stroke-dashoffset: -725;
  animation: draw 6s forwards;
  fill: none;
}

.svg {
  fill: none;
  stroke: white;
  stroke-width: 5;
}

@keyframes draw {
  20% {
    stroke-dashoffset: 0;
    fill: none;
  }
  100% {
    fill: white;
  }
  
}

#J {
  animation-delay: 0s;
}

#o {
  animation-delay: 0.1s;
}

#e {
  animation-delay: 0.2s;
}

#l {
  animation-delay: 0.3s;
}

#R {
  animation-delay: 0.4s;
}

#a {
  animation-delay: 0.5s;
}

#m {
  animation-delay: 0.6s
}

#o_2 {
  animation-delay: 0.7s;
}

#S {
  animation-delay: 0.8s;
}

@media only screen and (max-width: 700px) {
  .svg {
    transform: scale(0.50);
  }
}