.skills {
    display: inline-flex;
    width: 100%;
    max-width: 100%;
    min-height: 275px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--primary-variant2);
    padding: 20px 0px;
    gap: 30px;
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 300px;
    max-width: 300px;
    height: 100%;
    color: var(--on-primary);
    flex-direction: column;
    border-radius: 4px;
    transition: 0.25s;
}

.title-icon {
    display: flex;
    position: relative;
}

.title-icon span {
    position: relative;
    top: 2px;
    left: 6px;
    transition: 0.6s;
}

.skill:hover > .title-icon > span {
    transform: rotate(360deg);
}

.skill > * {
    margin-bottom: 5px;
}

.skill h1 {
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .skill {
        min-height: 225px;
    }

    .title-icon span {
        top: -5px;
        font-size: 28px;
        margin-bottom: 10px;
    }

}